@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700;900&display=swap");
/*
  primary bg color: #A9DDD6
*/

* {
  /* reset the browser default css styles in the next 3 lines */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* choose your font-family */
  font-family: "Poppins", "Courier New", Courier, monospace;
  /* setup color variables for css */
  --bg-primary: black; /* invoke --> var(--bg-primary)*/
  --bg-secondary: #b07156;
  --font-color-primary: black;
  --font-color-secondary: #b0aeae;
  --backup-color: #de6b48;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 1000px;
  border: solid 1px red;
  padding: 2px;
  padding: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.cards div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h5 {
  padding: 10px;
  border: solid 1px red;
}

section h5 {
  padding: 10px;
  border: solid 1px red;
}

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 400;
}

section div div button {
  border: none;
  background: rgb(108, 148, 236);
  padding: 5px;
  width: 175px;
  margin: 10px;
  cursor: pointer;
  color: white;
  border: solid 1px black;
}

.show-button {
  border: solid 1px red;
  padding: 15px;
  width: 150px;
  background: transparent;
  cursor: pointer;
  margin-top: 5px;
}

img {
  width: 200px;
}

#A,
#B,
#C {
  visibility: hidden;
  border: solid 1px red;
}
